.btn {
  display: flex;
  min-width: 84px;
  max-width: 480px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.015em;
  border: none;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--secondary {
    background-color: #223649;
  }

  &--primary {
    background-color: #3d99f5;
  }
}
